//Nuancier
$C1:rgb(0, 110, 255);
$C2:rgb(230, 230, 230);
$C3:rgb(24, 41, 58);
$C4:rgb(0, 128, 255);
//Les polices d'écriture
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
//Set des éléments
body {
    font-family: 'Monda', sans-serif;
    color: $C3;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

blockquote,
cite,
legend,
dialog {
    font-family: 'Tangerine', cursive;
}

ul {
    list-style-type: none;
}

header {
    background-color: $C3;
    .kidpaddleetcieglin {
        font-family: 'Anton', sans-serif;
        color: $C4;
        text-shadow: $C3 0 1px 0;
        font-size: 2em;
    }
}

main {
    text-align: center;
    margin-top: 75px;
    @media (orientation: landscape) {
        margin-bottom: 150px;
    }
    @media (orientation: portrait) {
        margin-bottom: 200px;
    }
    h1,
    h2,
    h3 {
        color: $C1;
        &::after {
            content: "|"
        }
        &::before {
            content: "|"
        }
    }
    #yt-subscribe,
    #yt-subscribe_1,
    #yt-subscribe_2,
    #yt-subscribe_3 {
        padding: 1v 1vh;
    }
}

footer {
    nav {
        background-color: $C3;
        ul {
            li {
                &::before {
                    content: " ";
                }
                &:hover {
                    background-color: $C3;
                    color: white !important;
                    a {
                        background-color: $C3;
                        color: white !important;
                    }
                }
                a {
                    letter-spacing: 1px;
                    color: $C3 !important;
                    &:link {
                        color: $C1 !important;
                        text-decoration: none;
                    }
                    i {
                         ::after {
                            content: "  ";
                        }
                    }
                }
            }
        }
    }
}

// Pour les abonnements
.yt-username {
    widows: 200px !important;
    text-overflow: ellipsis !important;
}

.yt-uix-button-subscribe-branded {
    background-color: $C3;
    &::before {
        background: no-repeat url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/89b8e4ba-2c52-44b5-b4c6-963c82fe1812/dckbn9d-c0ed27d8-ec69-4c5b-b0be-6a8791fd3943.jpg/v1/fill/w_1024,h_685,q_75,strp/glin_sort_du_noire_2_by_kidpaddleetcie_dckbn9d-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Njg1IiwicGF0aCI6IlwvZlwvODliOGU0YmEtMmM1Mi00NGI1LWI0YzYtOTYzYzgyZmUxODEyXC9kY2tibjlkLWMwZWQyN2Q4LWVjNjktNGM1Yi1iMGJlLTZhODc5MWZkMzk0My5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7GLiln9KxxNKrxxCtKKZI_IPiWE4UDOGzXk4ffcXafs)!important;
        background-size: 571px 360px;
        width: 16px;
        height: 12px;
    }
}