//Nuancier
$C1:rgb(0, 110, 255);
$C2:rgb(230, 230, 230);
$C3:rgb(24, 41, 58);
$C4:rgb(0, 128, 255);
//Les polices d'écriture
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Tangerine');
//Set des éléments
body {
    background-color: $C3;
    color: $C2;
}

h2 {
    font-family: Monda;
}

main {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    section {
        border: $C4 solid 2px;
        border-radius: 10%;
        padding: 20px;
        flex-grow: 8;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.596)!important;
        background-color: rgb(17, 29, 41);
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-content: space-around;
        background-color: #008cff;
        height: auto;
        padding: 15px;
        gap: 5px;
        &:first-child {
            justify-content: center;
        }
        a {
            background: #006eff;
            border: 3px solid #003cff;
            border-radius: 5px;
            padding: 8px;
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }
    }
}

.video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video object {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

aside {
    display: flex;
    flex-direction: column;
    h2 {
        display: inline-block;
    }
    a {
        background: #006eff;
        border: 3px solid #003cff;
        border-radius: 5px;
        padding: 8px;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 1.5em;
        font-family: Anton;
        letter-spacing: 5px;
        p {
            font-size: 0.8em;
            font-family: Arial, Helvetica, sans-serif;
            border: solid 2px black;
            color: black;
            padding: 10px;
        }
        &:hover {
            color: black;
            p {
                border: solid 2px white;
                text-decoration: none;
                color: white;
            }
        }
    }
}